<!-- views/faculty/edit.ejs -->
<!DOCTYPE html>

<html>
	<head>
		<title>Edit faculty</title>
		<%- include('../partials/head.ejs') %>
	</head>
	
	<body>
		<div class="container-fluid h-100">
			<div class="row h-100">

				<div class='col-lg-2 sidebar text-center'>

					<%- include('../partials/admin-sidebar.ejs') %>

					<%- include('./search-faculty.ejs') %>
					
				</div>
				<div class='col-lg-10 panelbg text-center'>
					<h1>Edit Faculty</h1>
					
					<form action="/faculty/put" method="post">
						<input type="hidden" name="_id" value="<%=faculty._id%>"></input>
						<div class="form-group row">
							<label class="col-md-2 offset-md-3">Onyen</label>
							<div class="col-md-4">
								<div><%=faculty.onyen%></div>
								<input type="hidden" name="onyen" value="<%=faculty.onyen%>" required/>
							</div>
						</div>

						<div class="form-group row">
							<label for="inputCSID" class="col-md-2 offset-md-3">CSID *</label>
							<div class="col-md-4">
								<input type="text" class="form-control" id="inputCSID" name="csid" value="<%=faculty.csid%>" required/>
							</div>
						</div>

						<div class="form-group row">
							<label for="inputEmail" class="col-md-2 offset-md-3">Email *</label>
							<div class="col-md-4">
								<input type="email" class="form-control" id="inputEmail" name="email" value="<%=faculty.email%>" required/>
							</div>
						</div>

						<div class="form-group row">
							<label for="inputFirstname" class="col-md-2 offset-md-3">First name *</label>
							<div class="col-md-4">
								<input type="text" class="form-control" id="inputFirstname" name="firstName" value="<%=faculty.firstName%>" required/>
							</div>
						</div>

						<div class="form-group row">
							<label for="inputLastname" class="col-md-2 offset-md-3">Last name *</label>
							<div class="col-md-4">
								<input type="text" class="form-control" id="inputLastname" name="lastName" value=<%=faculty.lastName%> required/>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-md-2 offset-md-3">PID</label>
							<div class="col-md-4">
								<div><%=faculty.pid%></div>
								<input type="hidden" name="pid" value=<%=faculty.pid%> required/>
							</div>
						</div>

						<div class="form-group row">
							<label for="inputSectionNumber" class="col-md-2 offset-md-3">Section number *</label>
							<div class="col-md-4">
								<input type="number" class="form-control" id="inputSectionNumber" name="sectionNumber" value=<%=faculty.sectionNumber%> required/>
							</div>
						</div>

						<div class="form-group row">
							<label for="inputActive" class="col-md-2 offset-md-3">Active</label>
							<div class="col-md-4">
								<input type="checkbox" class="form-check-input" id="inputActive" name="active" <% if(faculty.active === true) { %> checked <% } %> value="true"/>
							</div>
						</div>

						<div class="form-group row">
							<label for="inputAdmin" class="col-md-2 offset-md-3">Admin</label>
							<div class="col-md-4">
								<input type="checkbox" class="form-check-input" id="inputAdmin" name="admin" <% if(faculty.admin === true) { %> checked <% } %> value="true"/>
							</div>
						</div>

						<div class="form-group row align-items-end">
							<div class="col-md-4 offset-md-4">
								<button type="submit" class="btn btn-success">Update</button>
							</div>
						</div>
					</form>
					<form action="/faculty/delete/<%=faculty._id%>" method="post">
						<button type="submit" class="btn btn-danger" onclick="return confirm('Do you really want to delete this?');">Delete</button>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>