<p>Search Faculty</p>
<div class="search-bar">
	<form action="/faculty" method="get">
		<div class="form-group row">
			<label lang="en" for="searchPid" class="col-md-4 autoHyphen">PID:</label>
			<div class="col-md-8">
				<input type="number" pattern=".{9,9}" class="form-control" id="searchPid" name="pid"/>
			</div>
		</div>
		<div class="form-group row">
			<label lang="en" for="searchLastname" class="col-md-4 autoHyphen">Last name:</label>
			<div class="col-md-8">
				<input type="text" class="form-control" id="searchLastname" name="lastName"/>
			</div>
		</div>
		<div class="form-group row">
			<label lang="en" for="searchActive" class="col-md-4 autoHyphen">Active:</label>
			<div class="col-md-8">
				<input type="checkbox" class="form-control" id="searchActive" name="active" checked value=true />
			</div>
		</div>
		<div class="form-group row">
			<div class="col-md-4 offset-md-4">
				<button type="submit" class="btn btn-primary">Search</button>
			</div>
		</div>
	</form>
</div>
<div>
	<p><a href="/faculty/create" class="btn btn-primary btn-block create-faculty-button">Create Faculty</a></p>
	<p><a href="/faculty/download" class="btn btn-primary btn-block download-faculty-button">Download faculty</a></p>
	<p><a href="/faculty/upload/false" class="btn btn-primary btn-block upload-faculty-button">Upload faculty</a></p>
</div>