<!DOCTYPE html>
<!-- views/student/CS01BSMS.ejs -->

<html>
	<head>
		<title>CS01BSMS Background Preperation Worksheet</title>
		<%- include("../partials/head.ejs") %>
	</head>
	
	<body>
		<div class="container-fluid h-100">
			<div class="row h-100">
				<div class="col-lg-2 sidebar text-center">
					
					<% if(!isStudent) {%>
					
					<%- include("../partials/admin-sidebar.ejs") %>

					<%- include("./search-student.ejs") %>

					<% } else{ %>

					<%- include("../partials/logout.ejs") %>

					<% } %>

				</div>
				<div align ="center" class="col-lg-10 panelbg text-center">

					<% if(uploadSuccess == true) { %>
					<div class="alert alert-success alert-dismissible fade show" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<strong>Submit success!</strong>
					</div>
					<% } %>

					<% if(!isStudent) {%>
					<%- include("./studentBarPartial.ejs") %>
					<% } else { %>
					<%- include("../partials/studentBarPartial.ejs") %>
					<% } %>

					<h4><%=student.lastName%>, <%=student.firstName%></h4>

					<h3>Background preperation worksheet</h3>
					<h3>CS-01BSMS</h3>

					<div align="left">
						<p class="underline">Instructions:</p>
						<div>The following UNC courses define the background preparation assumed in the M.S. and PhD programs.  This worksheet is intended to help identify possible missing areas in your preparation; it is entirely normal to include one or more background courses in the MS or PhD Program of Study in order to satisfy the background preparation requirement.
						</div>
						<div>  For each course, indicate how (e.g. course work, independent study, or work experience) and when you mastered the materials as defined by the list of principal topics.  For additional information on UNC course content, consult the online syllabi.  In case you are uncertain about the adequacy of your preparation for a given course, consult a course instructor or the instructor(s) of graduate courses that depend on the course in question</div>

						<strong>All fields required!</strong>
						<hr></hr>
						
						<% if(hasAccess) { %>

						<form action="<%=postMethod%>" method="post">

							<input type="hidden" class="form-control " name="student" value=<%=student._id%> />

							<div class="row">
								<div class="col-md-6">
									<div>Name</div>
									<input type="text" class="form-control student-name" name="name" value="<%=student.lastName%>, <%=student.firstName%>" required/>
								</div>
								<div class="col-md-6">
									<div>PID</div>
									<input type="number" class="form-control student-pid" name="pid" value=<%=student.pid%> required />
								</div>
							</div>
							<hr></hr>

							<h3>Background Course Information</h3>

							<hr></hr>

							<div class="row">
								<div class="col-md-4">
									<strong>*COMP 521:  Files & Databases:</strong> Placement of data on secondary storage.  File organization.  Database history, practice, major models, system structure and design.
								</div>
								<div class="col-md-4">
									<div>Covered by:</div>
									<input type="text" class="form-control covered521" name="comp521Covered" value="<%=form.comp521Covered%>" required />
								</div>
								<div class="col-md-4">
									<div>Dates:</div>
									<input type="text" class="form-control date521" name="comp521Date" value="<%=form.comp521Date%>" required />
								</div>
							</div>

							<div class="verticalSpace" />

							<div class="row">
								<div class="col-md-4">
									<strong>*COMP 520:  Files & Databases:</strong> Placement of data on secondary storage.  File organization.  Database history, practice, major models, system structure and design.
								</div>
								<div class="col-md-4">
									<div>Covered by:</div>
									<input type="text" class="form-control covered520" name="comp520Covered" value="<%=form.comp520Covered%>" required />
								</div>
								<div class="col-md-4">
									<div>Dates:</div>
									<input type="text" class="form-control date520" name="comp520Date" value="<%=form.comp520Date%>" required />
								</div>
							</div>

							<div class="verticalSpace" />

							<div class="row">
								<div class="col-md-4">
									<strong>*COMP 530:  Files & Databases:</strong> Placement of data on secondary storage.  File organization.  Database history, practice, major models, system structure and design.
								</div>
								<div class="col-md-4">
									<div>Covered by:</div>
									<input type="text" class="form-control covered530" name="comp530Covered" value="<%=form.comp530Covered%>" required />
								</div>
								<div class="col-md-4">
									<div>Dates:</div>
									<input type="text" class="form-control date530" name="comp530Date" value="<%=form.comp530Date%>" required />
								</div>
							</div>

							<div class="verticalSpace" />
							
							<div class="text-center">(*Any two of these three will suffice*)</div>

							<hr></hr>
							
							<div class="row">
								<div class="col-md-4">
									<strong>COMP: 524:  Programming Language Concepts Concepts:</strong> of high-level programming & their realization in specific languages.  Data types, scope, control structures, procedural abstraction, classes, concurrency.  Run-time implementation
								</div>
								<div class="col-md-4">
									<div>Covered by:</div>
									<input type="text" class="form-control covered524" name="comp524Covered" value="<%=form.comp524Covered%>" required />
								</div>
								<div class="col-md-4">
									<div>Dates:</div>
									<input type="text" class="form-control date524" name="comp524Date" value="<%=form.comp524Date%>" required />
								</div>
							</div>

							<hr/>

							<div class="row">
								<div class="col-md-4">
									<strong>COMP 541:  Digital Logic & Computer Design:</strong> Digital logic, both combinational & sequential. State machines.  The structure & electronic design of modern processors.
								</div>
								<div class="col-md-4">
									<div>Covered by:</div>
									<input type="text" class="form-control covered541" name="comp541Covered" value="<%=form.comp541Covered%>" required />
								</div>
								<div class="col-md-4">
									<div>Dates:</div>
									<input type="text" class="form-control date541" name="comp541Date" value="<%=form.comp541Date%>" required />
								</div>
							</div>
							

							<hr></hr>

							<div class="row">
								<div class="col-md-4">
									<strong>MATH 661:  Introduction to Numerical Analysis:</strong> Error in computation; solution of nonlinear equations; interpolation; approximation of functions; Fourier methods; numerical integration & differentiation; introduction to numerical solution of ODE's; introductions to numerical linear algebra.
								</div>
								<div class="col-md-4">
									<div>Covered by:</div>
									<input type="text" class="form-control covered661" name="math661Covered" value="<%=form.math661Covered%>" required />
								</div>
								<div class="col-md-4">
									<div>Dates:</div>
									<input type="text" class="form-control date661" name="math661Date" value="<%=form.math661Date%>" required />
								</div>
							</div>

							<hr></hr>

							<div class="text-center">Review this worksheet with your advisor and submit the completed worksheet to the Student Services Coordinator preferably in electronic form.  Hard copies also accepted.  <strong>The worksheet is a component of the Program of Study for MS (CS-03) and/or PhD (CS-06).</strong></div>

							<hr></hr>

							<div>Student Signature:</div>
							<div class="row">
								<div class="col-md-5">
									<i><%=signature%></i>
									<input type="text" class="form-control student-signed" name="studentSignature" value="<%=form.studentSignature%>" required />
								</div>
								<div class="col-md-2">
									<div>Date signed</div>
									<input type="text" class="form-control student-signed-date" name="studentDateSigned" value="<%=form.studentDateSigned%>" required />
								</div>
							</div>

							<div class="verticalSpace"/>

							<% if(!isStudent) { %>
							<div>Advisor Signature:</div>
							<div class="row">
								<div class="col-md-5">
									<i><%=signature%></i>
									<input type="text" class="form-control advisor-signed" name="advisorSignature" value="<%=form.advisorSignature%>" required />
								</div>
								<div class="col-md-2">
									<div>Date signed</div>
									<input type="text" class="form-control advisor-signed-date" name="advisorDateSigned" value="<%=form.advisorDateSigned%>" required />
								</div>
							</div>
							<% } else { %>
							<div class="row">
								<div class="col-md-5">
									<div>Advisor Signature:</div>
									<%=form.advisorSignature%>
								</div>
								<div class="col-md-2">
									<div>Date signed:</div>
									<%=form.advisorDateSigned%>
								</div>
							</div>
							<% } %>

							<button type="submit" class="btn btn-primary CS01BSMS-submit">Submit</button>
						</form>

						<% } else{%>
						<div> You do not have access</div>
						<% } %>
					</div>
				</div>
			</div>
		</div>
		<%- include("../partials/bootstrapScripts.ejs") %>
	</body>
	<script type="text/javascript">

	</script>
</html>