<!DOCTYPE html>
<!-- views/student/CS09.ejs -->

<html>
	<head>
		<title>CS09 REPORT OF PRELIMINARY RESEARCH PRESENTATION</title>
		<%- include("../partials/head.ejs") %>
	</head>
	
	<body>
		<div class="container-fluid h-100">
			<div class="row h-100">
				<div class="col-lg-2 sidebar text-center">

					<% if(!isStudent) {%>
					
					<%- include("../partials/admin-sidebar.ejs") %>

					<%- include("./search-student.ejs") %>

					<% } else{ %>

					<%- include("../partials/logout.ejs") %>

					<% } %>

				</div>
				<div align ="center" class="col-lg-10 panelbg text-center">

					<% if(uploadSuccess == true) { %>
					<div class="alert alert-success alert-dismissible fade show" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<strong>Submit success!</strong>
					</div>
					<% } %>

					<% if(!isStudent) {%>
					<%- include("./studentBarPartial.ejs") %>
					<% } else { %>
					<%- include("../partials/studentBarPartial.ejs") %>
					<% } %>

					<h4><%=student.lastName%>, <%=student.firstName%></h4>

					<h3>REPORT OF PRELIMINARY RESEARCH PRESENTATION</h3>
					<h3>CS-09</h3>

					<div align="left">

						<hr></hr>

						<form action="<%=postMethod%>" method="post">

							<input type="hidden" class="form-control" name="student" value=<%=student._id%> />

							<div class="row">
								<div class="col-md-6">
									<div>Name*</div>
									<input type="text" class="form-control student-name" name="name" value="<%=student.lastName%>, <%=student.firstName%>" required/>
								</div>
								<div class="col-md-6">
									<div>PID*</div>
									<input type="number" class="form-control student-pid" name="pid" value=<%=student.pid%> required />
								</div>
							</div>

							<strong>Instructions:</strong>
							<div>This  form  has  three  parts.  Part  1  must  be  completed  by the student and submitted to the Student Services Manager two weeks prior to their exam. The student must also email a scanned copy of the form to his/her PRP committee. Parts 2 and 3 should be completed by the committee on the exam day.</div>

							<hr/>

							<strong>Part 1.    Information about the PRP research</strong>
							<div class="row">
								<div class="col-md-2">
									Title of PRP topic:*
								</div>
								<div class="col-md-6">
									<input type="text" class="form-control prp-title" name="prpTitle" value="<%=form.prpTitle%>" required/>
								</div>
							</div>

							<div class="verticalSpace" />

							<div class="row">
								<div class="col-md-2">
									Research Advisor:*
								</div>
								<div class="col-md-6">
									<input type="text" class="form-control research-advisor" name="researchAdvisor" value="<%=form.researchAdvisor%>" required/>
								</div>
							</div>

							<div class="verticalSpace" />

							<div class="row">
								<div class="col-md-6">
									<div>Has this PRP topic already been submitted to a peer-reviewed conference or journal? *</div>
								</div>
								<div class="col-md-2">
									<select name="peerReviewed" class="form-control peer-reviewed" id="inputStatus" required>
										<option value=<%=form.peerReviewed%>><%=form.peerReviewed%></option>
										<option value="Yes">Yes</option>
										<option value="No">No</option>
									</select>
								</div>
							</div>

							<div class="verticalSpace" />

							<div class="row">
								<div class="col-md-2">
									If yes, give the full author list:
								</div>
								<div class="col-md-6">
									<input type="text" class="form-control authors" name="authors" value="<%=form.authors%>"/>
								</div>
							</div>

							<div class="verticalSpace" />

							<div class="row">
								<div class="col-md-2">
									If yes, was the paper accepted:
								</div>
								<div class="col-md-2">
									<select name="paperAccepted" class="form-control paper-accepted" id="inputStatus">
										<option value=<%=form.paperAccepted%>><%=form.paperAccepted%></option>
										<option value="Yes">Yes</option>
										<option value="No">No</option>
									</select>
								</div>
								<div class="col-md-2">
									Notification Date:
								</div>
								<div class="col-md-2">
									<input type="text" class="form-control paper-notify-date" name="paperNotifyDate" value="<%=form.paperNotifyDate%>"/>
								</div>
							</div>

							<div class="verticalSpace" />


							<div class="row">
								<div class="col-md-6">
									<div>Are reviews currently available to your committee,  or will they become available prior to the presentation?*</div>
								</div>
								<div class="col-md-2">
									<select name="reviewsAvailable" class="form-control reviews-available" id="inputStatus" required>
										<option value=<%=form.reviewsAvailable%>><%=form.reviewsAvailable%></option>
										<option value="Yes">Yes</option>
										<option value="No">No</option>
									</select>
								</div>
							</div>

							<div class="verticalSpace" />

							<div>What part of the research were you responsible for?*</div>
							<div class="col-md-4">
								<textarea class="form-control research-responsible" rows="6" name="researchResponsible" required><%=form.researchResponsible%></textarea>
							</div>

							<div class="verticalSpace" />

							<div class="row">
								<div class="col-md-6">
									<div>Will you present the entire project, or just your contribution?*</div>
								</div>
								<div class="col-md-2">
									<input type="text" class="form-control present" name="present" value="<%=form.present%>" required/>
								</div>
							</div>

							<hr/>

							<% if(!isStudent) {%>

							<strong>Advisor Section:</strong>
							<div>I have reviewed the PRP report and will review the student's PRP presentation.</div>
							<div>Research Advisor Signature*</div>
							<div class="row">
								<div class="col-md-5">
									<i><%=signature%></i>
									<input type="text" class="form-control advisor-signature" name="advisorSignature" value="<%=form.advisorSignature%>" required />
								</div>
								<div class="col-md-2">
									Date*
									<input type="text" class="form-control advisor-date-signed" name="advisorDateSigned" value="<%=form.advisorDateSigned%>" required />
								</div>
							</div>

							<hr/>

							<strong>Part 2. Each of us has read ( and reviewed in writing) the PRP Report.</strong>

							<div class="verticalSpace"/>

							<strong>Committee Members</strong>
							<div>Signature:*</div>
							<div class="row">
								<div class="col-md-5">
									<i><%=signature%></i>
									<% for(let i = 0; i < 4; i++){ %>
										<input type="text" class="form-control committee-signature<%=i+1%>" name="committeeSignature" <% if(form.committeeSignature != null) { %> value="<%=form.committeeSignature[i]%>" <% } %> required />
									<% } %>
								</div>
									
								<div class="col-md-2">
									<div>Date*</div>
									<% for(let i = 0; i < 4; i++){ %>
										<input type="text" class="form-control committee-date-signed<%=i+1%>" name="committeeDateSigned" <% if(form.committeeDateSigned != null) { %> value="<%=form.committeeDateSigned[i]%>"  <% } %> required />
									<% } %>
								</div>
							</div>

							<hr/>

							<strong>Part 3. PRP Committee Joint Report</strong>
							<div class="row">
								<div class="col-md-4">
									Preliminary research presentation date*:
								</div>
								<div class="col-md-2">
									<input type="text" class="form-control presentation-date" name="presentationDate" value="<%=form.presentationDate%>" required />
								</div>
							</div>

							<div class="verticalSpace"/>

							<div class="row" align ="center">
								<div class="col-md-3">
									Integration of concepts*
								</div>
								<div class="col-md-5">
									<input type="range" class="concept-integration" name="conceptIntegration" min="-3" max="3" step=".25" value=<%=form.conceptIntegration%> />
								</div>
							</div>

							<div class="row" align ="center">
								<div class="col-md-3">
									Creativity*
								</div>

								<div class="col-md-5">
									<input type="range" class="creativity" name="creativity" min="-3" max="3" step=".25" value=<%=form.creativity%> />
								</div>

							</div>


							<div class="row" align ="center">
								<div class="col-md-3">
									Clarity*
								</div>
								<div class="col-md-5">
									<input type="range" class="clarity" name="clarity" min="-3" max="3" step=".25" value=<%=form.clarity%> />
								</div>
							</div>

							<div class="row" align ="center">
								<div class="col-md-3">
									Abstraction and formality*
								</div>
								<div class="col-md-5">
									<input type="range" class="abstraction-formality" name="abstractionFormality" min="-3" max="3" step=".25" value=<%=form.abstractionFormality%> />
								</div>
							</div>

							<div class="row" align ="center">
								<div class="col-md-3">
									Organization*
								</div>
								<div class="col-md-5">
									<input type="range" class="organization" name="organization" min="-3" max="3" step=".25" value=<%=form.organization%> />
								</div>
							</div>

							<div class="row" align ="center">
								<div class="col-md-3">
									Writing*
								</div>
								<div class="col-md-5">
									<input type="range" class="writing" name="writing" min="-3" max="3" step=".25" value=<%=form.writing%> />
									
								</div>
							</div>

							<div class="row" align ="center">
								<div class="col-md-3">
									Presentation*
								</div>
								<div class="col-md-5">
									<input type="range" class="presentation" name="presentation" min="-3" max="3" step=".25" value=<%=form.presentation%> />
									
								</div>
							</div>

							<div class="row" align ="center">
								<div class="col-md-3">
									Answering questions*
								</div>
								<div class="col-md-5">
									<input type="range" class="answering-question" name="answeringQuestion" min="-3" max="3" step=".25" value=<%=form.answeringQuestion%> />
								</div>
							</div>

							<div class="verticalSpace"/>

							<!--<div class="row">
								<div class="col-md-1">
									<div>Overall Score:</div>
									
								</div>
								<div class="col-md-3">
									<button type="button" class="btn btn-secondary"  onclick="average()">Calculate average</button>
								</div>
								<div class="col-md-2">
									<input type="hidden" class="form-control" name="overallScore" value="<%=form.overallScore%>" id="overallScore" required />
									<div id="displayScore"><%=form.overallScore%>
									</div>
								</div>
							</div> -->

							<div class="row" align ="center">
								<div class="col-md-3">
									<div>Overall Score*</div>
										
								</div>
								<div class="col-md-5">
									<input type="range" name="overallScore" min="-3" max="3" step=".25" value=<%=form.overallScore%> />
								</div>
							</div>

							<div><strong>Feedback on Research, Presentation, and Paper:</strong></div>
							<div class="col-md-4">
								<textarea class="form-control feedback" rows="6" name="feedback" ><%=form.feedback%></textarea>
							</div>

							<% } else{ %>

							<strong>Advisor Section:</strong>
							<div>I have reviewed the PRP report and will review the student's PRP presentation.</div>
							
							<div class="row">
								<div class="col-md-5">
									<div>Research Advisor Signature*</div>
									<%=form.advisorSignature%>
								</div>
								<div class="col-md-2">
									<div>Date*</div>
									<%=form.advisorDateSigned%>
								</div>
							</div>

							<hr/>

							<strong>Part 2. Each of us has read ( and reviewed in writing) the PRP Report.</strong>

							<div class="verticalSpace"/>

							<strong>Committee Members</strong>
							<div class="row">
								<div class="col-md-5">
									Signature:*
								</div>
								<div class="col-md-2">
									Date:*
								</div>
							</div>
							<div class="row">
								<div class="col-md-5">
									<% for(var i = 0; i < 4; i ++){ %>
										<% if (form.committeeSignature!= null) { %>
											<div><%=form.committeeSignature[i]%></div>
										<% }%>
									<% } %>
								</div>
									
								<div class="col-md-2">
									<% for (var i = 0; i < 4; i ++){ %>
										<% if (form.committeeDateSigned!= null) { %>
											<div><%=form.committeeDateSigned[i]%></div>
										<% }%>
									<% } %>							
								</div>
							</div>

							<hr/>

							<strong>Part 3. PRP Committee Joint Report</strong>
							<div class="row">
								<div class="col-md-4">
									Preliminary research presentation date*:
								</div>
								<div class="col-md-2">
									<%=form.presentationDate%>
								</div>
							</div>

							<div class="verticalSpace"/>

							<div class="row" align ="center">
								<div class="col-md-3">
									Integration of concepts*
								</div>
								<div class="col-md-5">
								<%=form.conceptIntegration%>
								</div>
							</div>

							<div class="row" align ="center">
								<div class="col-md-3">
									Creativity*
								</div>

								<div class="col-md-5">
									<%=form.creativity%>
								</div>

							</div>


							<div class="row" align ="center">
								<div class="col-md-3">
									Clarity*
								</div>
								<div class="col-md-5">
									<%=form.clarity%>
								</div>
							</div>

							<div class="row" align ="center">
								<div class="col-md-3">
									Abstraction and formality*
								</div>
								<div class="col-md-5">
									<%=form.abstractionFormality%>
								</div>
							</div>

							<div class="row" align ="center">
								<div class="col-md-3">
									Organization*
								</div>
								<div class="col-md-5">
									<%=form.organization%>
								</div>
							</div>

							<div class="row" align ="center">
								<div class="col-md-3">
									Writing*
								</div>
								<div class="col-md-5">
									<%=form.writing%>
									
								</div>
							</div>

							<div class="row" align ="center">
								<div class="col-md-3">
									Presentation*
								</div>
								<div class="col-md-5">
									<%=form.presentation%>
									
								</div>
							</div>

							<div class="row" align ="center">
								<div class="col-md-3">
									Answering questions*
								</div>
								<div class="col-md-5">
									<%=form.answeringQuestion%>
								</div>
							</div>

							<div class="verticalSpace"/>

							<div class="row" align ="center">
								<div class="col-md-3">
									<div>Overall Score*</div>
										
								</div>
								<div class="col-md-5">
									<%=form.overallScore%>
								</div>
							</div>

							<div><strong>Feedback on Research, Presentation, and Paper:</strong></div>
							<div class="col-md-4">
								<%=form.feedback%>
							</div>
							<% } %>

							<div class="verticalSpace"/>
							
							<button type="submit" class="btn btn-primary CS09-submit">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<%- include("../partials/bootstrapScripts.ejs") %>
	</body>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="/rangeslider.js/dist/rangeslider.min.js"></script>
	<link rel="stylesheet" href="/rangeslider.js/dist/rangeslider.css">
	
	<script type="text/javascript">
		function average(){
			var arr = document.getElementsByClassName("numberValue");
			var total = 0;
			var average = 0;

			for(var i = 0; i < arr.length; i++){
				if(parseInt(arr[i].value)){
					total+= parseInt(arr[i].value);
				}
			}

			average = total / arr.length;
			document.getElementById("overallScore").value = average;
			document.getElementById("displayScore").innerHTML = average;
		}
	</script>
	<script>
		$('input[type="range"]').rangeslider({
			polyfill:false,
			onInit : function(){
				this.output = $('<div class="range-output verticalSpace"/>').insertAfter(this.$range).html(this.$element.val());
			},
			onSlide : function(position, value){
				this.output.html(value);
			}
		});
	</script>
</html>