<ul class="nav nav-tabs whiteBg space">
  <li class="nav-item">
    <a class="nav-link student-navigation-edit-button" href="/student/edit/<%=student._id%>">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link student-navigation-jobs-button" href="/student/jobs/<%=student._id%>">Jobs</a>
  </li>
  <li class="nav-item">
    <!--<a class="nav-link" href="/student/forms/<%=student._id%>/false">Forms</a>-->
    <a class="nav-link student-navigation-forms-button" href="/student/forms/<%=student._id%>">Forms</a>
  </li>
  <li class="nav-item">
  	<a class="nav-link student-navigation-courses-button" href="/student/courses/<%=student._id%>">Courses</a>
  </li>
  <li class="nav-item">
    <a class="nav-link student-navigation-notes-button" href="/student/notes/<%=student._id%>">Notes</a>
  </li>
</ul>