<!DOCTYPE html>
<!-- views/course/edit.ejs -->

<html> 
	<head>
		<title>Edit course</title>
		<%- include('../partials/head.ejs') %>
	</head>
	
	<body>
		<div class="container-fluid h-100">
			<div class="row h-100">

				<div class='col-lg-2 sidebar text-center'>

					<%- include('../partials/admin-sidebar.ejs') %>
					<%- include('./search-course.ejs') %>

				</div>
				<div class='col-lg-10 panelbg text-center'>
					<h1>Edit course</h1>
					<form action="/course/put" method="post">
						<input type="hidden" name="_id" value=<%=course._id%>></input>

						<div class="form-group row">
							<label class="col-md-2 offset-md-3">Department</label>
							<div class="col-md-4">
								<div>COMP</div>
								<input type="hidden" class="form-control" name="department" value="COMP" required/>
							</div>
						</div>
						
						<!--<div class="form-group row">
							<label for="inputDepartment" class="col-md-2 offset-md-3">Department</label>
							<div class="col-md-4">
								<input type="text" class="form-control" id="inputDepartment" name="department" value="<%=course.department%>" minlength="4" maxlength="4" required/>
							</div>
						</div> -->

						<div class="form-group row">
							<label for="inputNumber" class="col-md-2 offset-md-3">Course number</label>
							<div class="col-md-4">
								<input type="text" class="form-control" id="inputNumber" name="number" value=<%=course.number%> required/>
							</div>
						</div>

						<div class="form-group row">
							<label for="inputUnivNumber" class="col-md-2 offset-md-3">University course number</label>
							<div class="col-md-4">
								<input type="number" class="form-control" id="inputUnivNumber" name="univNumber" value=<%=course.univNumber%> required/>
							</div>
						</div>

						<div class="form-group row">
							<label for="inputName" class="col-md-2 offset-md-3">Course name</label>
							<div class="col-md-4">
								<input type="text" class="form-control" id="inputName" name="name" value="<%=course.name%>" required/>
							</div>
						</div>

						<div class="form-group row">
							<label for="inputCategory" class="col-md-2 offset-md-3">Category</label>
							<div class="col-md-4">
								<select name="category" class="form-control" id="inputCategory" required>
									<% for(var i=0; i<categories.length; i++) { %>
										<option value=<%= categories[i]%> <% if(course.category === categories[i]) { %> selected <% } %>><%=categories[i]%></option>
									<% } %>
								</select>
							</div>
						</div>

						<div class="form-group row">
							<label for="inputTopic" class="col-md-2 offset-md-3">Topic</label>
							<div class="col-md-4">
								<input type="text" class="form-control" id="inputTopic" name="topic" value="<%=course.topic%>" required/>
							</div>
						</div>

						<div class="form-group row">
							<label for="inputHours" class="col-md-2 offset-md-3">Hours</label>
							<div class="col-md-4">
								<input type="number" class="form-control" id="inputHours" value=<%=course.hours%> name="hours" required/>
							</div>
						</div>

						<div class="form-group row">
							<label for="inputSection" class="col-md-2 offset-md-3">Section</label>
							<div class="col-md-4">
								<input type="number" class="form-control" id="inputSection" name="section" value=<%=course.section%> required/>
							</div>
						</div>

						<div class="form-group row">
							<label for="inputFaculty" class="col-md-2 offset-md-3">Faculty</label>
							<div class="col-md-4">
								<select name="faculty" class="form-control" id="inputFaculty" required>
									<% for(var i=0; i<faculty.length; i++) { %>
										<option value=<%= faculty[i]._id%> <% if(course.faculty._id.equals(faculty[i]._id)) { %> selected <% } %> ><%=faculty[i].lastName%>, <%=faculty[i].firstName%></option>
									<% } %>
								</select>
							</div>
						</div>

						<div class="form-group row">
							<label for="inputSemester" class="col-md-2 offset-md-3">Semester</label>
							<div class="col-md-4">
								<select name="semester" class="form-control input-semester" id="inputSemester" required>
									<% for(var i=0; i<semesters.length; i++) { %>
										<option value=<%= semesters[i]._id%> <% if(course.semester._id.equals(semesters[i]._id)) { %> selected <% } %>><%=semesters[i].season%> <%=semesters[i].year%></option>
									<% } %>
								</select>
							</div>
						</div>

						<div class="form-group row align-items-end">
							<div class="col-md-4 offset-md-4">
								<button type="submit" class="btn btn-success">Update</button>
							</div>
						</div>

					</form>
					<form action="/course/delete/<%=course._id%>" method="post">
						<button type="submit" class="btn btn-danger" onclick="return confirm('Do you really want to delete this?');">Delete</button>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>