<!-- views/course/index.ejs -->
<!DOCTYPE html>

<html>
	<head>
		<title>Search Courses</title>
		<%- include('../partials/head.ejs') %>
	</head>
	
	<body>
		<div class="container-fluid h-100">
			<div class="row h-100">

				<div class='col-lg-2 sidebar text-center'>

					<%- include('../partials/admin-sidebar.ejs') %>

					<%- include('./search-course.ejs') %>
				</div>

				<div class='col-lg-10 panelbg text-center'>
					<h1>Courses</h1>
					<h3 class="searchTextColor"><%=search%></h3>
					 <% if(courses.length>0) { %>
						<table align="center" border="1" class="table display-table table-striped table-bordered course-table">
							<thead>
								<tr>
									<th scope="col" class="col-course-number">Number</th>
									<th scope="col" class="col-course-section">Section</th>
									<th scope="col" class="col-course-univNumber">University course number</th>
									<th scope="col" class="col-course-name">Name</th>
									<th scope="col" class="col-course-category">Category</th>
									<th scope="col" class="col-course-topic">Topic</th>
									<th scope="col" class="col-course-hours">Hours</th>
									<th scope="col" class="col-course-faculty">Faculty</th>
									<th scope="col" class="col-course-semester">Semester</th>
									<th scope="col" class="col-course-delete"></th>
								</tr>
							</thead>
							<tbody>

								<% for(var i=0; i<courses.length; i++) { %>
									<tr>
										<td><%= courses[i].number%></td>
										<td><%= courses[i].section%></td>
										<td><%= courses[i].univNumber%></td>
										<td><%= courses[i].name%></td>
										<td><%= courses[i].category%></td>
										<td><%= courses[i].topic%></td>
										<td><%= courses[i].hours%></td>
										<td><%= courses[i].faculty.lastName%>, <%= courses[i].faculty.firstName%></td>
										<td><%= courses[i].semester.season%> <%= courses[i].semester.year%></td>
										<td>
											<div class="editRow">
												<div class="editColumn">
													<a href="/course/edit/<%=courses[i]._id%>" class="editTag"><i class="fas fa-edit editColor"></i></a>
												</div>
												<div class="editColumn">
													<form action="/course/delete/<%= courses[i]._id%>" method="post">
														<button type="submit" class="btn btn-default delete-course-button" onclick="return confirm('Do you really want to delete this?');"><i class="fas fa-trash-alt"></i></button>
													</form>
												</div>
											</div>
										</td>
									</tr>
								<% } %>
							</tbody>
						</table>
					<% } else { %>
						<div>No courses found.</div>
					<% } %>
				</div>
			</div>
		</div>
	</body>
</html>